@use "../../../scss/_variables/variables" as *;
@use "../../../scss/mixin/mixin" as *;

.AboutProductBody {
  h1 {
    margin: 0;
    margin-top: 25px;
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include responsive(md) {
      font-size: 22px;
      margin-top: 24px;
    }
    @include responsive(xsm) {
      margin-top: 13px;
    }
  }

  .firstReview {
    color: var(--color-3, #0156ff);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 14px;
    @include responsive(md) {
      font-size: 10px;
      margin-top: 6.47px;
    }
  }

  .desc {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    /* 166.667% */
    margin-top: 24px;
    @include responsive(md) {
      font-size: 12px;

      margin-top: 14.53px;
    }
    @include responsive(xsm) {
      line-height: 20px; /* 166.667% */
    }
  }

  .collectionProductColor {
    display: flex;
    flex-direction: row;
    column-gap: 18px;
    margin-top: 46px;
    @include responsive(md) {
      margin-top: 16.53px;
      column-gap: 13.72px;
    }
  }

  .ContactCatogry {
    margin-top: 29px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .Contact {
      color: #000;
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @include responsive(md) {
        font-size: 10px;
      }
      a {
        color: var(--color-3, #0156ff);
        font-family: Poppins;
        font-size: inherit;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
      }
    }

    .Catogry {
      color: #000;
      text-align: center;
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
}

.MoreInformation {
  margin-top: 166px;
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @include responsive(md) {
    display: none;
  }
  @include responsive(xxl, min) {
    left: -57.5px;
  }

  span {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  position: relative;
}
