@use "../../../scss/_variables/variables" as *;
@use "../../../scss/mixin/mixin" as *;
.Review {
  background: $color-1;
  width: 100%;
  height: 310px;

  display: flex;
  justify-content: center;
  align-items: center;
  @include responsive(xxs) {
    height: auto;
  }
  .ReviewContent {
    max-width: 922px;
    height: 205px;
    margin: auto;
    @include responsive(md) {
      width: calc(100% - 38px);
    }
    @include responsive(xsm) {
      height: 304px;
      padding-top: 25px;
    }

    .doubleQuotation-text {
      display: flex;
      flex-direction: row;
      column-gap: 26px;

      .ReviewSwitch {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        &::-webkit-scrollbar {
          display: none;
        }
        p {
          color: $color-7;
          font-family: Poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0;
          min-width: 100%;
          flex-basis: 100%;

          max-width: 850px;
          max-height: 103.5px;

          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;

          @include responsive(md) {
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }

      .doubleQuotation {
        color: $color-7;
        font-family: Poppins;
        font-size: 96px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @include responsive(md) {
          font-size: 52px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }

    .ReviewUserName {
      color: $color-7;
      text-align: right;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 9px 0 0 0;
      @include responsive(xsm) {
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  .Review-btn-change {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34.5px;
    button {
      width: 182px;
      height: 37px;
      border-radius: 50px;
      border: 2px solid $color-3;
      background-color: $color-11;
      a {
        color: $color-3;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration: none;
      }
    }
  }

  .ReviewInput {
    display: flex;
    flex-direction: row;
    column-gap: 10px;

    & > div {
      position: relative;
    }
    input[type="radio"] {
      appearance: none;
    }

    input[type="radio"] + label::before {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      display: inline-block;
      background-color: #cacdd8;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      cursor: pointer;
      border-radius: 50%;
      transition: ease 400ms;
    }
    input[type="radio"]:checked + label::before {
      background-color: #0156ff;
    }
  }
}
