@use "../../../scss/_variables/variables" as *;
@use "../../../scss/mixin/mixin" as *;
.checkoutAddress {
  h2 {
    border-bottom: 1px solid #cacdd8;
    padding-bottom: 14px;
    margin-top: 45px;
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @include responsive(md) {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding-bottom: 12px;
      margin-top: 16px;
    }
  }
  form {
    width: 565px;

    @include responsive(md) {
      width: 100%;
    }
  }

  input {
    height: 50px;
    border-radius: 4px;
    border: 1px solid var(--color-5, #a2a6b0);
    background: #fff;
    width: 100%;
    @include responsive(md) {
      height: 38px;
    }
    &::placeholder {
      color: var(--color-5, #a2a6b0);
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 20px; /* 142.857% */
      padding-left: 17px;
      @include responsive(md) {
        padding-left: 14.91px;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 20px; /* 166.667% */
      }
    }
  }

  label {
    color: var(--color-7, #000);
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 210%; /* 27.3px */
    @include responsive(md) {
      font-size: 11px;
      font-style: normal;
      font-weight: 600;
      line-height: 210%; /* 23.1px */
    }
    span {
      color: var(--color-8, #c94d3f);
      font-family: Poppins;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: 210%;
      @include responsive(md) {
        font-size: 11px;
        font-style: normal;
        font-weight: 600;
        line-height: 210%;
      }
    }
  }
  .EmailAddress {
    margin-top: 25px;
    padding-bottom: 20px;
    border-bottom: 1px #cacdd8 solid;
    span {
      color: var(--color-10, #666);
      font-family: Poppins;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 210%; /* 27.3px */
      padding-top: 11px;
    }
  }

  .InputInfo {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding-top: 21px;
    .StreetAddress {
      display: flex;
      flex-direction: column;
      row-gap: 11px;
    }
  }
}
