.product {
  .part0 {
    height: 101px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .SelectSection {
      display: flex;
      flex-direction: row;
      column-gap: 30px;
      input {
        appearance: none;
      }
      label {
        position: relative;
        cursor: pointer;
        color: var(--color-10, #666);
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      input:checked ~ label {
        color: #000;
      }
      input:checked ~ label::after {
        content: "";
        width: 0%;
        height: 1px;
        position: absolute;
        bottom: -6px;
        background-color: #0156ff;
        left: 0;
        animation: inputAnm 400ms ease-in-out forwards;
      }
      @keyframes inputAnm {
        0% {
          width: 0%;
        }
        100% {
          width: 100%;
        }
      }
    }
    .PriceQuantityAction {
      display: flex;
      flex-direction: row;
      column-gap: 21px;
      align-items: center;
      & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        .Quantity {
          width: 70px;
          height: 50px;

          border-radius: 6px;
          background: var(--color-1, #f5f7ff);
          display: flex;
          flex-direction: row;
          align-items: center;
          .arrow {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 32px;
            padding-right: 12px;
            img {
              width: 16px;
              height: 16px;
              cursor: pointer;
            }
          }
          & input {
            width: 100%;
            height: 100%;
            padding: 0;
            border: none;
            outline: none;
            background: inherit;
            border-radius: inherit;
            text-align: center;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            -moz-appearance: textfield;

            &::placeholder {
              color: var(--color-7, #000);
              text-align: center;
              font-family: Poppins;
              font-size: 13px;
              font-style: normal;
              font-weight: 600;
              line-height: 210%; /* 27.3px */
            }
          }
        }
      }
      .Price {
        width: 191px;
        height: 101px;
        color: #000;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          color: #000;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          padding-left: 5.5px;
        }
      }
    }

    .productAction {
      display: flex;
      flex-direction: row;
      column-gap: 13px;
      .AddtoCart {
        width: 151px;
        height: 50px;
        border-radius: 50px;
        background: var(--color-3, #0156ff);
        border: none;
        color: #fff;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
      }
      .paypal {
        width: 140px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        background: #ffb800;
        cursor: pointer;
        border: none;
      }
    }
  }
  .part1 {
    display: flex;
    & > div {
      flex-basis: 50%;
      max-width: 50%;
      height: 675px;
    }
    .child1 {
      background: var(--color-1, #f5f7ff);
    }
    .child2 {
      background: #fff;
    }
  }
}
