@use "../scss/_variables/variables" as *;
@use "../scss/mixin/mixin" as *;
body,
html {
  padding: 0;
  margin: 0;
  border: 0;
  p,
  h2,
  h2,
  h3,
  h4 {
    margin: 0;
  }

  font-family: Poppins;
}

.app {
  min-height: 500px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
.container {
  max-width: 1400px;
  margin: 0 auto;

  @include responsive(xxl) {
    max-width: calc(100% - 40px);
  }
  @include responsive(sm) {
    max-width: calc(100% - 30px);
  }
  @include responsive(xxs) {
    max-width: calc(100% - 10px);
  }
}

.display-block {
  display: block !important;
}
.display-none {
  display: none !important;
}
.display-flex {
  display: flex !important;
}
// import fonts

/* Poppins Light - وزن الخط الخفيف */
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-Light.ttf") format("truetype");

  font-weight: 300;
  font-style: normal;
}

/* Poppins Regular - وزن الخط العادي */
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Poppins Medium - وزن الخط المتوسط */
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Poppins Semi-Bold - وزن الخط شبه الجريء */
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Poppins Bold - وزن الخط الجريء */
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Poppins Extra-Bold - وزن الخط الجريء جدًا */
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* Poppins Black - وزن الخط الأسود */
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.loading {
  display: flex;
  width: 100%;
  position: fixed;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;

  .lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #020202;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
