@use "../_variables/variables" as *;

/**
 * $responsive-breakpoint $min mixin
 * ------------
 * $responsive-breakpoint: The name of the specified breakpoint, as defined in the map.
 * $min: An optional value that sets the minimum width of the media query. The default value is "max".
 *
 * Usage:
 * ------
 * .element {
 *   @include responsive(md,  min) 
 * }
 *
 * Output:
 * -------
 * @media (max-width: 768px) {
 * .element {
 *  
 * }
 * }
 *
 */
@mixin responsive($responsive-breakpoint, $min: max) {
  // If the breakpoint exists in the map.
  @if map-has-key($responsive-breakpoints, $responsive-breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($responsive-breakpoints, $responsive-breakpoint);

    // Write the media query.
    @if $min == min {
      $breakpoint-value: map-get(
        $responsive-breakpoints-min,
        $responsive-breakpoint
      );
      @media (#{$min}-width: $breakpoint-value) {
        @content;
      }
    } @else {
      @media (#{$min}-width: $breakpoint-value) {
        @content;
      }
    }
    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

// flex & flex-direction: row & align-items: center;
@mixin flex($direction: normal, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin trans($t: 400) {
  transition: all ease-in-out #{$t}ms;
}

@mixin intro($A: Y) {
  animation: in forwards 400ms;
  @keyframes in {
    0% {
      transform: translate#{$A }(-200%);
      opacity: 0;
    }
    100% {
      transform: translate#{$A }(0);
      opacity: 1;
    }
  }
}
@mixin out($A: Y) {
  animation: in forwards 400ms;
  @keyframes in {
    0% {
      transform: translate#{$A }(-200%);
      opacity: 0;
    }
    100% {
      transform: translate#{$A }(0);
      opacity: 1;
    }
  }
}

/**
 * b-w mixin
 * ------------
 * Sets the flex-basis and max-width properties with the passed values.
 *
 * Usage:
 * ------
 * .element {
 *   @include b-w(50%, 500px);
 * }
 *
 * Output:
 * -------
 * .element {
 *   flex-basis: 50%;
 *   max-width: 500px;
 * }
 *
 * @param {length} $b - Optional. The flex-basis value. Default is 100%.
 * @param {length} $w - Optional. The max-width value. Default is 100%.
 */
@mixin b-w($b: 100%, $w: 100%) {
  flex-basis: $b;
  max-width: $w;
}
@mixin b-w($b: 100%, $w: 100%) {
  flex-basis: $b;
  max-width: $w;
}


/*
  DTN Mixin
  ==========
  This mixin animates an element by sliding it down from off the top of the screen.
  
  Usage:
  ------
  To use this mixin, simply include it in the selector for the element you want to animate. The
  default animation duration is 400ms, but you can specify a different duration by passing a
  value (in milliseconds) to the $t parameter.
  
  Example:
  --------
  .my-element {
    @include DTN(500); // Slide down over 500ms
  }
*/

@mixin DTN($t: 400) {
  animation: downT #{$t}ms ease-in-out both;
  @keyframes downT {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0);
    }
  }
}
