@use "../../../scss/mixin/mixin" as *;
@use "../../../scss/_variables/variables" as *;

.catalog {
  display: flex;
  flex-direction: row;

  .filter {
    flex-basis: 10%;
    max-width: 234px;
    min-width: 200px;
    @include responsive(md) {
      flex-basis: 10%;
      max-width: 233px;
      min-width: 225px;
    }
    @include responsive(xsm) {
      display: none;
    }
    .Back {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }
    .Filter-part01 {
      background: var(--color-1, #f5f7ff);

      margin-bottom: 7px;
      padding: 20px 17px;
      h3 {
        height: 50px;
        color: #000;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .ClearFilter {
        display: inline-flex;
        width: 100%;
        height: 37px;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        border: 2px solid #a2a6b0;
        background: transparent;
        color: var(--color-5, #a2a6b0);
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        margin-bottom: 17px;
      }
    }

    .ApplyFilters {
      height: 37px;
      width: 100%;
      border-radius: 50px;
      background: var(--color-3, #0156ff);
      border: none;
      color: #fff;
      text-align: center;

      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-top: 17px;
      cursor: pointer;
    }

    .FilterBrands {
      .Brands-title-btn {
        padding-left: 17px;
        padding-right: 17px;
        height: 100px;
        background: var(--color-1, #f5f7ff);
      }
      h3 {
        color: #000;
        text-align: center;

        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
      }
      button {
        width: 100%;
        height: 37px;
        border-radius: 50px;
        border: 2px solid var(--color-5, #a2a6b0);
        color: var(--color-5, #a2a6b0);
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background: transparent;
      }

      .BrandsImages {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 1px;
        justify-content: center;
        column-gap: 1px;
        background-color: #f5f7ff;
        max-height: 250.97px;
        padding: 1px;
        img {
          background-color: #fff;
          max-width: calc(50% - 1px);
          flex-basis: calc(50% - 1px);
          height: 75.97px;
          cursor: pointer;
        }
      }
    }

    .CompareProducts {
      min-height: 107.5px;
      background: var(--color-1, #f5f7ff);
      padding-top: 19.5px;
      margin-top: 7px;
      padding-left: 14px;
      padding-right: 14px;
      h3 {
        color: #000;
        text-align: center;

        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0;
      }
      p {
        color: #000;
        text-align: center;

        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 16.9px */
        margin: 0;
        margin-top: 33px;
      }
    }

    .MyWishList {
      @extend .CompareProducts;
    }
    .ProductSuggested {
      height: 370px;
      width: 100%;
      margin-top: 7px;
      img {
        width: inherit;
        height: inherit;
      }
    }
  }
}
