@use "../../scss/mixin/mixin" as *;
@use "../../scss/_variables/variables" as *;

.header {
  height: 136px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-bottom: 1px solid $color-6;
  @include responsive(md) {
    border: none;
    height: 104px;
  }
  .header-lg {
    height: inherit;
    @include responsive(md) {
      display: none;
    }
  }
  .header-md {
    height: inherit;
    @include responsive(md, min) {
      display: none;
    }
  }
}

.header-top {
  height: 44px;
  background: #020202;

  & > div {
    height: inherit;
    width: 100%;
    @include flex(row, space-between, center);
  }
}

.h-t-time-open {
  width: 194px;
  @include flex(row, flex-start, center);
  span:last-child {
    @include flex(row, space-between, center);
  }
  @include responsive(xxs) {
    width: auto;
  }
}

.h-t-time-open-text {
  color: $color-5;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.h-t-contact {
  width: fit-content;

  color: #acacac;
  text-align: center;

  a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 2px solid #fff;

    padding-bottom: 5.5px;
  }
  @include responsive(lg) {
    display: none;
  }
}

.h-t-call {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  @include flex($direction: row, $align: center);
  column-gap: 8px;
  @include responsive(md) {
    & {
      display: none;
    }
  }
}
.h-t-call-media {
  @include flex($direction: row);
  img {
    width: 20px;
    height: 20px;
  }
}

.header-second {
  height: 92px;
  background-color: $color-11;
  @include flex($direction: row, $justify: space-between, $align: center);

  ul {
    @include flex(row, space-between, center);
    column-gap: 25px;
    @include responsive(xl) {
      padding-left: 0;
    }
    @include responsive(md) {
      & {
        display: none;
      }
    }
    li {
      cursor: pointer;
      list-style: none;
      @include flex(row, center, center);
      color: $color-7;
      text-align: center;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      @include responsive(xl) {
        font-size: 13px;
      }

      @include responsive(lg) {
        &:nth-child(7) {
          display: none;
        }
      }
      @include responsive(lg) {
        &:nth-child(6) {
          display: none;
        }
      }

      a {
        color: $color-7;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration: none;
      }
    }
    .Our {
      display: inline-flex;
      padding: 8px 26px;
      align-items: center;
      gap: 10px;
      border-radius: 50px;
      border: 2px solid $color-3;
      max-height: 69px;
      @include responsive(xl) {
        padding: 4px 20px;
      }
      @include responsive(lg) {
        display: none;
      }
      a {
        color: $color-3;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
  .client {
    @include flex(row, space-between, center);
    .clientImg {
      cursor: pointer;
      @include responsive(xl) {
        margin-left: 5px;
      }
    }
    .Account-Personal {
      margin-left: 36px;
    }
    .cart {
      margin-left: 25px;
    }
  }
}



.div-search {
  display: none;
}

.transtop {
  animation: hid forwards 400ms;
}

@keyframes hid {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
