@use "../../../scss/mixin/mixin" as *;
@use "../../../scss/_variables/variables" as *;

.h-t-time-open {
  cursor: pointer;
  .arrowbottom {
    display: flex;
    justify-content: center;
    align-items: center;
    @include flex(row, space-between, center);
  }
  position: relative;

  .time-open {
    background-color: #020202;
    width: 262px;
    height: 254px;
    position: absolute;
    left: 11px;
    top: 32px;
    clip-path: polygon(0 100%, 100% 100%, 100% 5%, 18% 4%, 15% 0, 12% 4%, 0 4%);

    background-color: #cacdd8;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
    z-index: 11;
  }
  //   .shape-inst
  .shape-inst {
    clip-path: polygon(0 100%, 100% 100%, 100% 5%, 18% 4%, 15% 0, 12% 4%, 0 4%);
    width: 262px - 2px;
    height: 208px;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 19px;
    padding-top: 43px;

    img {
      width: 35px;
      height: 35px;
    }
    .open {
      @include flex(row, start, start);
      column-gap: 7px;
      padding-left: 10px;
    }
    .WeAre {
      color: $color-7;
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 16.8px */
    }
    .allDay {
      @include flex(column, start, start);
      row-gap: 9px;
    }
    .day {
      @include flex(row, start, start);
      column-gap: 10px;
      span:first-child {
        color: $color-5;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      span:last-child {
        color: $color-7;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    .line {
      content: " ";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $color-6;
      min-height: 1px;
    }
    .Address-div {
      @extend .open;
      padding: 10px 0;
    }
    .Address {
      color: $color-7;
      font-family: Poppins;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 18.2px */
    }

    .Phones-Email {
      margin-top: 11px;
      margin-bottom: 17px;
      div {
        column-gap: 4px;
        @extend .open;
        span:first-child {
          color: $color-7;
          font-family: Poppins;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 18.2px */
        }
        span:last-child {
          color: $color-3;
          font-family: Poppins;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
        }
      }
    }
  } //   ==.shape-inst==
}
