@use "../../../scss/_variables/variables" as *;
@use "../../../scss/mixin/mixin" as *;
.ProdectPageSngale {

  .imageProduct {
    display: flex;
    flex-direction: row;
    column-gap: 54px;
    padding-left: 23px;
    @include responsive(xsm) {
      padding-left: 16px;
      column-gap: 84px;
    }
    .add {
      display: flex;
      flex-direction: column;
      row-gap: 6.48px;
      margin-top: 96px;

      img {
        cursor: pointer;
      }
      @include responsive(md) {
        margin-top: 53px;
      }
      @include responsive(xsm) {
        margin-top: 19px;
      }
    }

    & > div:last-child {
      width: 100%;
      position: relative;
      .productimage {
        width: 255px;
        height: 444px;
        margin-top: 74px;
      
        position: absolute;

        @include responsive(md) {
          width: 114.179px;
          height: 198.806px;
          margin-top: 40.27px;
        }
        @include responsive(xsm) {
          margin-top: 6.27px;
          width: 114.179px;
          height: 198.806px;
          margin: auto;
        }
      }
      .productimage2 {
        width: 255px;
        height: 444px;
        margin-top: 74px;
     

        @include responsive(md) {
          width: 114.179px;
          height: 198.806px;
          margin-top: 40.27px;
        }
        @include responsive(xsm) {
          margin-top: 6.27px;
          width: 114.179px;
          height: 198.806px;
          margin: auto;
        }
      }
    }
  }

  .installment {
    width: 263px;
    height: 28px;
    margin: auto;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @include responsive(xsm) {
      height: auto;
    }
    img {
      width: 263px;
      height: 28px;
      @include responsive(xsm) {
        width: 61px;
        height: 21px;
      }
    }

    .line {
      content: "";
      width: 2px;
      height: 100%;
      background-color: #00aeb8;
      max-height: 23px;
      margin: auto 14.5px auto auto;
      @include responsive(xsm) {
        width: 1.5px;
        min-height: 17.439px;
        margin-left: 6.82px;
      }
    }

    .text {
      color: #000;
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 300;
      line-height: 120.5%;
      @include responsive(xsm) {
        font-size: 10px;
      }
      /* 14.46px */
      a {
        color: #000;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 120.5%;
        text-decoration-line: underline;
        @include responsive(xsm) {
          font-size: 10px;
        }
      }
    }
  }

  .imageChange {
    width: 52px;
    height: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 11px;

    left: 68.07%;
    position: relative;
    margin-top: 25px;

  
    @include responsive(md) {
      left: 47%;
    }
    input {
      appearance: none;
    }

    & > div {
      position: relative;

      input + label {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background: var(--color-6, #cacdd8);
        cursor: pointer;
      }

      input:checked + label {
        background-color: #0156ff;
      }
    }
  }

  // Part0 Mobile

  .Part0Mobile {
    height: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 10px auto;
    padding-left: 15px;
    @include responsive(xsm, min) {
      display: none;
    }

    .SelectSection {
      display: flex;
      flex-direction: row;
      column-gap: 30px;
      @include responsive(md) {
        column-gap: 17px;
      }
      input {
        appearance: none;
        // display: none;
      }
      label {
        position: relative;
        cursor: pointer;
        color: var(--color-10, #666);
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      input:checked ~ label {
        color: #000;
      }
      input:checked ~ label::after {
        content: "";
        width: 0%;
        height: 1px;
        position: absolute;
        bottom: -6px;
        background-color: #0156ff;
        left: 0;
        animation: inputAnm 400ms ease-in-out forwards;
      }
      @keyframes inputAnm {
        0% {
          width: 0%;
        }
        100% {
          width: 100%;
        }
      }
    }
    .PriceQuantityAction {
      display: flex;
      flex-direction: row;
      column-gap: 21px;
      align-items: center;
      @include responsive(xsm) {
        display: none;
      }
      & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include responsive(md) {
          column-gap: 16px;
        }
        .Quantity {
          width: 70px;
          height: 50px;
          @include responsive(md) {
            width: 56px;
            height: 42.4px;

            background: #e5ecf1;
          }

          border-radius: 6px;
          background: var(--color-1, #f5f7ff);
          display: flex;
          flex-direction: row;
          align-items: center;
          .arrow {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 32px;
            padding-right: 12px;
            @include responsive(md) {
              padding-right: 7px;
            }
            img {
              width: 16px;
              height: 16px;
              cursor: pointer;
            }
          }
          & input {
            width: 100%;
            height: 100%;
            padding: 0;
            border: none;
            outline: none;
            background: inherit;
            border-radius: inherit;
            text-align: center;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            -moz-appearance: textfield;

            &::placeholder {
              color: var(--color-7, #000);
              text-align: center;
              font-family: Poppins;
              font-size: 13px;
              font-style: normal;
              font-weight: 600;
              line-height: 210%; /* 27.3px */
              @include responsive(md) {
                font-size: 11px;
              }
            }
          }
        }
      }
      .Price {
        width: 191px;
        height: 101px;
        color: #000;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        @include responsive(md) {
          width: 94px;
          flex-direction: column;
          font-size: 13px;
        }
        span {
          color: #000;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          padding-left: 5.5px;
        }
      }
    }

    .productAction {
      display: flex;
      flex-direction: row;
      column-gap: 13px;
      @include responsive(md) {
        column-gap: 7px;
      }
      .AddtoCart {
        width: 151px;
        height: 50px;
        border-radius: 50px;
        background: var(--color-3, #0156ff);
        border: none;
        color: #fff;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        @include responsive(md) {
          height: 38px;
          width: 129px;
          font-size: 13px;
        }
      }
      .paypal {
        width: 140px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        background: #ffb800;
        cursor: pointer;
        border: none;
        img {
          width: 72px;
          height: 22px;
        }
        @include responsive(md) {
          height: 38px;
          width: 129px;
        }
      }
    }
  }
}
