$responsive-breakpoints: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

// color
$Color-1: #F5F7FF;
$Color-2: #0074BE;
$color-3: #0156FF;
$Color-4: #01A4FF;
$color-5: #a2a6b0;
$color-6: #CACDD8;
$color-7: #000000;
$color-8: #C94D3F;
$color-9: #78A962;
$color-10: #666666;
$color-11: #FFF;
$color-12: #ffb800;
